button {

    border: dashed 1px #000;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    /* This makes the button round */
    background-color: #f0f0f0;
    /* Same color as the background */
    margin: 50px;
    /* Spacing around the button */
    /* make the text fit */

    padding: 10px;

    cursor: pointer;
    /* Changes the cursor to a hand when hovering over the button */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow to the button */
    /* make the text a percentage of the parent */
    font-size: 80%;
}